<nav
  class="navbar navbar-dark bg-primary bg-opacity-75 px-4 d-flex justify-content-between"
>
  <a class="navbar-brand fw-bold" href="/admin_dashboard">Quiz Master</a>

  <div class="d-flex justify-content-between">
    <form class="d-flex me-3" method="get" action="/admin_dashboard/search">
      <input
        class="form-control me-2"
        type="search"
        placeholder="Search..."
        name="search_query"
      />
      <button class="btn btn-light" type="submit">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </form>
    <a class="btn btn-warning me-2" href="/admin_history">
      <i class="fa-solid fa-clock-rotate-left"></i>
    </a>
    <a class="btn btn-info me-2" href="/admin_dashboard">
      <i class="fa-solid fa-solid fa-chart-pie"></i>
    </a>
    <a class="btn btn-danger" href="/logout">
      <i class="fa-solid fa-right-from-bracket"></i>
    </a>
  </div>
</nav>
