{% extends "index.html" %}

{% block content %}
{% include "admin_navbar.html" %}

<div class="container">
    <div class="row">
        <div style="width: 50%; margin: auto;">
            <h3 class="text-center">Edit Subject</h3>

            <form method="POST" action="/edit_subject/{{subject.id}}">
                <div class="mb-3">
                    <label for="name" class="form-label">Subject Name</label>
                    <input type="text" name="name" id="name" class="form-control" required value="{{subject.name}}">
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <input type="text" name="description" id="description" class="form-control" required value="{{subject.description}}">
                </div>
                <div class="text-center">
                    <input type="submit" value="Edit Subject" class="btn btn-outline-primary">
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
