{% extends "index.html" %}

{% block content %}
{% include "user_navbar.html" %}


<div class = 'container-fluid'>
    <div class = 'row'>
        <div class = 'col'>
            <h3 class="text-center"> Quiz List </h3>
            
            <table class = 'table'>
                <thead>
                    <tr>
                        <th>Quiz Name</th>
                        <th>Date of Quiz</th>
                        <th>Time Duration (HH:MM)</th>
                        <th>Subject</th>
                        <th>Chapter</th>
                        <th>Remarks</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for quiz in quizzes%}
                    <tr>
                        <td>{{ quiz.name }}</td>
                        <td>{{ quiz.date_of_quiz}}</td>
                        <td>{{ quiz.time_duration}}</td>
                        <td>{{ quiz.chapter_name.subject_name.name }}</td>
                        <td>{{ quiz.chapter_name.name }}</td>

                        <td>{{ quiz.remarks}}</td>
                        <td>
                            
                            <a href="/start_quiz/{{quiz.id}}" class="btn btn-primary">Start Quiz</a>
                            
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>

            </table>

        </div>

    </div>


</div>

{% endblock %}
