{% extends "index.html" %}

{% block content %}
{% include "admin_navbar.html" %}


<div class="container"><br>
    <h1 class="text-center text-primary">Admin Summary</h1><br><br>

    <div class="row">
        <div class="col">
            <h3 class="text-success text-center"><b>Users</b></h3>
            <ul class="list-group ">
                <li class="list-group-item" style="display: flex; justify-content: space-between; font-weight: bold;">
                    <span>Name</span>
                    <span>Average</span>
                </li>
                {% for user in users %}
                {% if user.username != "admin" %}
                <li class="list-group-item" style="display: flex; justify-content: space-between;">
                    <span>{{ user.username }}</span>
                    <span>{{ avg_scores_dict.get(user.id, 0) }}%</span>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>

        <div class="col">
            <a href="/view_subjects">
                <h3 class="text-primary text-center"><b>Subjects</b></h3>
            </a>
            <ul class="list-group">
                {% for subject in subjects %}
                <li class="list-group-item">{{ subject.name }}</li>
                {% endfor %}
            </ul>
        </div>

        <div class="col">
            <h3 class="text-danger text-center"><b>Chapters</b></h3>
            <ul class="list-group">
                {% for chapter in chapters %}
                <li class="list-group-item">{{ chapter.name }}</li>
                {% endfor %}
            </ul>
        </div>
    </div><br><br>





    <div class="row">
        <div class="col">
            <div class="card p-3">
                <h3 class="text-info"><b>Month-wise Number of Quizzes</b></h3>
                <canvas id="monthWiseChart"></canvas>
            </div>
        </div>

        <div class="col">
            <div class="card p-3">
                <h3 class="text-warning"><b>Subject-wise Number of Quizzes</b></h3>
                <canvas id="subjectWiseChart"></canvas>
            </div>
        </div>

        <div class="col">
            <div class="card p-3">
                <h3 class="text" style="color: lightgreen"><b>Average Scores for Each Quiz</b></h3>
                <canvas id="scoreChart"></canvas>
            </div>
        </div>
    </div><br><br>


    <div class="text-center">
        <a href="/view_subjects" class="btn btn-outline-success">View Subjects</a>
    </div><br><br>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    const monthData = JSON.parse('{{ month_data | tojson | safe }}');
    const subjectData = JSON.parse('{{ subject_data | tojson | safe }}');
    const scoreData = JSON.parse('{{ score_data | tojson | safe }}');

    const monthOrder = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];

    const orderedMonths = monthOrder.filter(month => monthData[month]);
    const orderedData = orderedMonths.map(month => monthData[month]);

    new Chart(document.getElementById('monthWiseChart'), {
        type: 'bar',
        data: {
            labels: orderedMonths,
            datasets: [{
                label: 'Number of Quizzes',
                data: orderedData,
                backgroundColor: 'skyblue',
            }]
        },
    });



    new Chart(document.getElementById('subjectWiseChart'), {
        type: 'doughnut',
        data: {
            labels: Object.keys(subjectData),
            datasets: [{
                label: 'Number of Quizzes',
                data: Object.values(subjectData),
            }]
        },
    });

    new Chart(document.getElementById('scoreChart'), {
        type: 'bar',
        data: {
            labels: Object.keys(scoreData),
            datasets: [{
                label: 'Average Score (%)',
                data: Object.values(scoreData),
                backgroundColor: 'lightgreen',
            }]
        },
    });
</script>

{% endblock %}