{% extends "index.html" %}

{% block content %}
{% include "admin_navbar.html" %}

<div class="container">
    <div class="row">
        <div class="col">
            <h3 class="text-center">Subject - {{ subject.name }}</h3>
            <h4>Chapters</h4>

            <div class="mb-3">
                <a href="/view_subjects" class="btn btn-outline-primary">Back to Subjects</a>
            </div>

            <table class="table table-hover table-bordered">
                <thead class="table-primary">
                    <tr class="text-center">
                        <th>Chapter Name</th>
                        <th>Description</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for chapter in chapters %}
                    <tr>
                        <td class="align-middle">{{ chapter.name }}</td>
                        <td class="align-middle">{{ chapter.description }}</td>
                        <td class="text-center">
                            <a href="/view_quizzes/{{chapter.id}}" class="btn btn-outline-primary">
                                <i class="fa-solid fa-eye"></i>
                            </a>
                            <a href="/edit_chapter/{{chapter.id}}" class="btn btn-outline-warning">
                                <i class="fa-solid fa-pen"></i>
                            </a>
                            <a href="/delete_chapter/{{chapter.id}}" class="btn btn-outline-danger"
                            onclick="return confirm('Are you sure you want to delete {{ chapter.name }}?');">
                                <i class="fa-solid fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class="text-center">
                <a href="/create_chapter/{{subject.id}}" class="btn btn-outline-success">Create Chapter</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
