{% extends "index.html" %}

{% block content %}
{% include "admin_navbar.html" %}


<div class="container mt-4">
    <table class="table table-bordered">
        <thead class="table-primary">
            <tr>
                <th>Type</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>User</td>
                <td>{{ user.username }}</td>
            </tr>
            {% endfor %}
            {% for subject in subjects %}
            <tr>
                <td>Subject</td>
                <td>{{ subject.name }}</td>
            </tr>
            {% endfor %}
            {% for chapter in chapters %}
            <tr>
                <td>Chapter</td>
                <td>{{ chapter.name }}</td>
            </tr>
            {% endfor %}
            {% for quiz in quizzes %}
            <tr>
                <td>Quiz</td>
                <td>{{ quiz.name }}</td>
            </tr>
            {% endfor %}
            {% if not users and not subjects and not chapters and not quizzes %}
            <tr>
                <td colspan="2" class="text-center">No results found</td>
            </tr>
            {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}
