{% extends "index.html" %}

{% block content %}
{% include "admin_navbar.html" %}

<div class="container">
    <div class="row">
        <div style="width: 50%; margin: auto;">
            <h2 class='text-center'> Create Quiz </h2>


            <form method="POST" action="/create_quiz/{{chapter.id}}">
                <div>
                    <label for="name" class="form-label">Quiz Name</label>
                    <input type="text" name="name" id="name" class="form-control" required>
                </div>
                <br>
                <div>
                    <label for="date_of_quiz" class="form-label">Date of Quiz</label>
                    <input type="date" name="date_of_quiz" id="date_of_quiz" class="form-control" required>
                </div>
                <br>
                <div>
                    <label for="time_duration" class="form-label">Time Duration</label>
                    <input type="time" name="time_duration" id="time_duration" class="form-control" step="60" required>
                </div>
                <br>
                <div>
                    <label for="remarks" class="form-label">Remarks</label>
                    <input type="text" name="remarks" id="remarks" class="form-control" required>
                </div>
                <br>
                <div>
                    <input type="submit" value="Create Quiz" class="btn btn-primary">
                </div>


            </form>

        </div>
    </div>
</div>

{% endblock %}