{% extends "index.html" %}

{% block content %}
{% include "user_navbar.html" %}



<div class = 'container-fluid'>
    <div class = 'row'>
        <div class = 'col'>
            <h3 class="text-center"> User History</h3>

            <table class="table">
                <thead>
                    <tr>
                        <th>Quiz Name</th>
                        <th>Date of Quiz</th>
                        <th>Time Duration (HH:MM)</th>
                        <th>Chapter</th>
                        <th>Subject</th>
                        <th>Total Scored</th>
                        <th>Time Stamp of Attempt</th>
                    </tr>
                </thead>
                <tbody>
                {% for score in scores %}
                    <tr>
                        <td>{{ score.quiz_name.name }}</td>
                        <td>{{ score.quiz_name.date_of_quiz }}</td>
                        <td>{{ score.quiz_name.time_duration }}</td>
                        <td>{{ score.quiz_name.chapter_name.name }}</td>
                        <td>{{ score.quiz_name.chapter_name.subject_name.name }}</td>
                        <td>{{ score.total_scored }}</td>
                        <td>{{ score.time_stamp_of_attempt }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>


            

        </div>

    </div>


</div>

{% endblock %}