{% extends "index.html" %}

{% block content %}
{% include "user_navbar.html" %}

<div class="container"><br>

    <div class="row">
        <div class="col">
            <h3 class="text-primary text-center" >Welcome, {{ user.username }}</h3>
            <h3 class="text-center" style="color: deepskyblue">Avg. Score: <span class="text"> {{ avg_score }} %<span> </h3>
        </div>
    </div><br><br>

    <div class="row">
        <div class="col">
            <div class="card p-3">
                <h3 class="text-info">Month-wise Quizzes Taken</h3>
                <canvas id="monthWiseChart"></canvas>
            </div>
        </div>

        <div class="col">
            <div class="card p-3">
                <h3 class="text" style="color: lightgreen;"><b>Quiz Scores</b></h3>
                <canvas id="quizScoresChart"></canvas>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    const monthData = JSON.parse('{{ month_data | tojson | safe }}');
    const quizScores = JSON.parse('{{ quiz_scores | tojson | safe }}');

    new Chart(document.getElementById('monthWiseChart'), {
        type: 'bar',
        data: {
            labels: Object.keys(monthData),
            datasets: [{
                label: 'Quizzes Taken',
                data: Object.values(monthData),
            }]
        },
    });

    new Chart(document.getElementById('quizScoresChart'), {
        type: 'bar',
        data: {
            labels: Object.keys(quizScores),
            datasets: [{
                label: 'Score (%)',
                data: Object.values(quizScores),
                backgroundColor: 'lightgreen',
            }]
        },
    });
</script>

{% endblock %}
